<div class="container">
  <header>
    <form (ngSubmit)="addTodo()">
      <input
        type="text"
        placeholder="Введите новую задачу"
        [(ngModel)]="newTodoValue"
        [ngModelOptions]="{standalone: true}">
      <button type="submit">Add new</button>
    </form>
  </header>
  <main>
    <app-todo
      *ngFor="let todo of todos"
      [id]="todo.id"
      [value]="todo.value"
      [isDone]="todo.isDone"
      (removeTodo)="removeTodo($event)"
      (editTodo)="editTodo($event)"
      (toggleTodo)="toggleTodo($event)"
    ></app-todo>
    <span *ngIf="todos.length === 0">There's nothing here</span>
  </main>
  <footer>
    ### TODOS 2021 ###
  </footer>
</div>
